body{
  background-color: indianred;
}

.App {
  text-align: center;
  background-color: indigo;
  min-height: 500px;
  width: 500px;
  margin: 50px auto;
  
}

.todoListMain .header input{
  padding: 10px;
  font-size: 20px;
  border: 2px solid;
  width: 170px;
}
.button{

  height: 35px;
  width: 50px;
  background-color: lightblue;
  font-size: 15px;
  margin-left: 10px;
}

.todoListMain .header button:hover{
background-color: mediumblue;
border: 2px solid mediumblue;
cursor: pointer;
}


